* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}
body {
    background-image: url(../_icons/icons8-html-color/icons8-html-512.png);
    background-color: rgba(2, 20, 122, 0.89);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
h2 {
    font-size: 26px;
}
.topics-sections {
    color: rgb(250, 250, 250);
    font-size: 18px;
    background-color: rgba(248, 248, 248, 0.13);
    margin: 0 2%;
    padding: 0.5%;
    width: 98vw;
    height: 98vh;
    overflow:auto;
    box-shadow: -2px 7px 5px  rgba(255, 255, 255, 0.164);
    text-shadow: 1px 1px  rgb(27, 0, 179);
}