* {
    margin: 0;
    background-color: rgba(127, 140, 255, 0.493);
    color: aliceblue;
    font-family: sans-serif;
}
.pulsao {
    margin: 50px 20px;
    padding: 5px 40px;
    border: 3px dashed;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.25s;
}
.pulsao:hover, .pulsao:focus {
    color: springgreen;
    box-shadow: 0 0 0 50px rgba(127, 255, 133, 0.034);
    border: 3px dashed;
    animation: pulsar 1s;
    -webkit-animation: pulsar 1s;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
@keyframes pulsar {
    0% {
        border: 3px dashed;
        box-shadow: 0 0 0 0 rgb(127, 255, 148);
    }
}