*  {
    margin: 0;
    background-color: rgba(127, 140, 255, 0.493);
    color: aliceblue;
    font-family: sans-serif;
}
body {
height: 100000px;
background-image: url(./TecGuilty_logo.png);
}

/* ! =========================================== Visual definido aqui ===============================================================*/

.pulsao {
    margin:0;
    padding: 5px 40px;
    border: 3px dashed;
    transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.25s;
}

/* ! =========================================== Class do BTN Static ===============================================================*/

.static {
    position: static;
    margin: 0;
    top: 500px;
}

/* ! =========================================== Class do BTN Fixed ===============================================================*/

.fixed {
    position: fixed;
    margin: 0 150px;
}

/* ! =========================================== Div ID Absolute ===============================================================*/

#absolute {
    position: relative;
    top: 150px;
    left: 115px;
    width: 600px;
    height: 250px;
    background-color: white ;
    overflow: hidden;
}
#absolute:hover .width {
    top: 110px;
}

/* ! =========================================== Class BTN Absolute =============================================================================================*/

.absolute {
    top: 110px;
    position: absolute;
}

/* ! =========================================== Class BTN Relative =============================================================================================*/

.relative {
    left: 600px;
}

/* ! =========================================== Class BTN Width ===========================================================================================*/

.width {
    color: brown;
    top: 250px;
    left: 85px;
    width: 420px;
}

/* ! =========================================== P com ID Sticky , Div Class Stickyss e Class BTN Sticky ===============================================================*/

.stickyss {
    top: 0;
    width: 50%;
    margin-top: 200px;
    margin-left: 400px;
    position: sticky;
}
.sticky {
    margin-left: 235px;
}

#sticky {
    width: 50%;
    margin-top: 200px;
    margin-left: 400px;
    position: sticky;
}

/* ! =========================================== +++++++++++ ===============================================================*/


/* ! =========================================== +++++++++++ ===============================================================*/


/* ! =========================================== +++++++++++ ===============================================================*/


/* ! =========================================== +++++++++++ ===============================================================*/
